<a href="https://colab.research.google.com/github/thibaudju/velyon/blob/thibaud/Import_mesures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import des fichiers de mesure des compteurs vélo via l'API Grand Lyon

In [2]:
import requests

X = 500000
Y = 1
step = 500000

while True:
    url = f"https://download.data.grandlyon.com/ws/timeseries/pvo_patrimoine_voirie.pvocomptagemeasure/all.csv?maxfeatures={X}&start={Y}"
    
    response = requests.get(url)
    
    if response.status_code == 200:
        # Save the response to a file
        filename = f"response_{X}_{Y}.csv"
        with open(filename, 'w') as file:
            file.write(response.text)
        
        # Increase X and Y by the step value
        X += step
        Y += step
    else:
        break

In [3]:
import pandas as pd

In [6]:
df = pd.read_csv("/content/response_3000000_2500001.csv", delimiter = ";")

In [10]:
df = pd.read_csv("/content/response_500000_1.csv", delimiter = ";")

In [11]:
df

,channel_id,counter_id,start_datetime,end_datetime,count
0,100029813,NaN,2022-05-12 01:00:00+02:00,2022-05-12 02:00:00+02:00,0
1,100029813,NaN,2022-05-12 00:00:00+02:00,2022-05-12 01:00:00+02:00,0
2,100029813,NaN,2022-05-11 23:00:00+02:00,2022-05-12 00:00:00+02:00,0
3,100029813,NaN,2022-05-11 22:00:00+02:00,2022-05-11 23:00:00+02:00,0
4,100029813,NaN,2022-05-11 21:00:00+02:00,2022-05-11 22:00:00+02:00,9
...,...,...,...,...,...
499995,353243826,X2H14116822,2022-06-04 21:00:00+02:00,2022-06-04 22:00:00+02:00,2
499996,353243826,X2H14116822,2022-06-04 20:00:00+02:00,2022-06-04 21:00:00+02:00,3
499997,353243826,X2H14116822,2022-06-04 19:00:00+02:00,2022-06-04 20:00:00+02:00,4
499998,353243826,X2H14116822,2022-06-04 18:00:00+02:00,2022-06-04 19:00:00+02:00,9
499999,353243826,X2H14116822,2022-06-04 17:00:00+02:00,2022-06-04 18:00:00+02:00,12